In [19]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hong seo i\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.1.2)

WARNING: You are using pip version 22.0.4; however, version 23.1 is available.
You should consider upgrading via the 'C:\Users\HONG SEO I\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: et-xmlfile in c:\users\hong seo i\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from openpyxl) (1.1.0)

## Room table

In [2]:
# 필요 라이브러리 import
import pandas as pd
import numpy as np
import openpyxl

In [21]:
room = pd.read_excel('교내시설안내.xlsx')
room.head()

C:\Users\HONG SEO I\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,번호,시설분류,건물명,시설명,수용인원,보유기자재,시설 설비,비고
0,1,강의실,과학관,308-303(과학관 D303 강의실),70.0,NaN,NaN,NaN
1,2,강의실,과학관,308-305(과학관 D305 강의실),NaN,NaN,NaN,NaN
2,3,강의실,명진관,307-111(명진관 A111 명진PBL),40.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/분리형책걸상/스탠드형에어컨/중앙난방/,8x6(-1)
3,4,강의실,명진관,307-115(명진관 A115 강의실_스마트),63.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/일체형책걸상/스탠드형에어컨/중앙난방/,8x8(-1)
4,5,강의실,명진관,307-121(명진관 A121 강의실_스마트),52.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/화이트보드/,블라인드/세미나용테이블/분리형책걸상/스탠드형에어컨/중앙난방/,6x10(-2)

In [22]:
room.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      282 non-null    int64
 1   시설분류    282 non-null    object
 2   건물명     282 non-null    object
 3   시설명     269 non-null    object
 4   수용인원    265 non-null    float64
 5   보유기자재   234 non-null    object
 6   시설 설비   140 non-null    object
 7   비고      151 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 17.8+ KB

In [23]:
# 시설명에 널값 13개 존재
room['시설명'].isnull().sum()

13

In [24]:
room[room['시설명'].isnull()]

,번호,시설분류,건물명,시설명,수용인원,보유기자재,시설 설비,비고
22,23,강의실,명진관,NaN,NaN,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/화이트보드/,NaN,NaN
101,102,강의실,신공학관(기숙사),NaN,50.0,NaN,NaN,NaN
110,111,강의실,원흥관 2,NaN,60.0,빔프로젝터/음향장비/전자교탁/DVD/컴퓨터/전동스크린/화이트보드/,암막커튼/일체형책걸상/스탠드형에어컨/중앙난방/,NaN
111,112,강의실,원흥관 2,NaN,60.0,빔프로젝터/음향장비/전자교탁/DVD/컴퓨터/전동스크린/화이트보드/,암막커튼/일체형책걸상/스탠드형에어컨/중앙난방/,NaN
210,211,강의실,학술/문화관,NaN,30.0,전자교탁/컴퓨터/,NaN,국제언론정보대학원
211,212,강의실,학술/문화관,NaN,41.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/칠판/,NaN,NaN
212,213,강의실,학술/문화관,NaN,56.0,NaN,NaN,NaN
213,214,강의실,학술/문화관,NaN,56.0,NaN,NaN,NaN
214,215,강의실,학술/문화관,NaN,49.0,NaN,NaN,NaN
272,273,강의실,혜화관,NaN,40.0,NaN,NaN,NaN
273,274,강의실,혜화관,NaN,52.0,빔프로젝터/음향장비/전자교탁/DVD/컴퓨터/전동스크린/칠판/,암막커튼/일체형책걸상/천정형냉난방기/,NaN
274,275,강의실,혜화관,NaN,NaN,NaN,NaN,NaN
281,282,강의실,혜화별관,NaN,NaN,NaN,NaN,NaN

In [25]:
# 시설명에 결측치 있는 행 삭제
room.dropna(subset=['시설명'], inplace=True)
room.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 280
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      269 non-null    int64
 1   시설분류    269 non-null    object
 2   건물명     269 non-null    object
 3   시설명     269 non-null    object
 4   수용인원    255 non-null    float64
 5   보유기자재   228 non-null    object
 6   시설 설비   137 non-null    object
 7   비고      150 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 18.9+ KB

In [26]:
del room['시설분류']
del room['비고']

In [27]:
room.columns = ['id', 'building_name', 'room_name', 'capacity', 'equip_info', 'facility_info']

In [28]:
room

,id,building_name,room_name,capacity,equip_info,facility_info
0,1,과학관,308-303(과학관 D303 강의실),70.0,NaN,NaN
1,2,과학관,308-305(과학관 D305 강의실),NaN,NaN,NaN
2,3,명진관,307-111(명진관 A111 명진PBL),40.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/분리형책걸상/스탠드형에어컨/중앙난방/
3,4,명진관,307-115(명진관 A115 강의실_스마트),63.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/일체형책걸상/스탠드형에어컨/중앙난방/
4,5,명진관,307-121(명진관 A121 강의실_스마트),52.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/화이트보드/,블라인드/세미나용테이블/분리형책걸상/스탠드형에어컨/중앙난방/
...,...,...,...,...,...,...
276,277,혜화별관,206-109(혜화별관 H104 공용실기실(II)),39.0,음향장비/전자교탁/컴퓨터/전동스크린/,NaN
277,278,혜화별관,206-303(혜화별관 H301 영상대학 원장실/영상전문대(원) 학사운영실),NaN,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN
278,279,혜화별관,206-305(혜화별관 H302 강의실_스마트),48.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN
279,280,혜화별관,206-307(혜화별관 H303 강의실),44.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN
280,281,혜화별관,206-309(혜화별관 H304 강의실),39.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN

In [33]:
room['floor'] = room['room_name'].str[0]
room

,id,building_name,room_name,capacity,equip_info,facility_info,floor
0,1,과학관,308-303(과학관 D303 강의실),70.0,NaN,NaN,3
1,2,과학관,308-305(과학관 D305 강의실),NaN,NaN,NaN,3
2,3,명진관,307-111(명진관 A111 명진PBL),40.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/분리형책걸상/스탠드형에어컨/중앙난방/,3
3,4,명진관,307-115(명진관 A115 강의실_스마트),63.0,빔프로젝터/음향장비/전자교탁/컴퓨터/수동스크린/화이트보드/,블라인드/일체형책걸상/스탠드형에어컨/중앙난방/,3
4,5,명진관,307-121(명진관 A121 강의실_스마트),52.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/화이트보드/,블라인드/세미나용테이블/분리형책걸상/스탠드형에어컨/중앙난방/,3
...,...,...,...,...,...,...,...
276,277,혜화별관,206-109(혜화별관 H104 공용실기실(II)),39.0,음향장비/전자교탁/컴퓨터/전동스크린/,NaN,2
277,278,혜화별관,206-303(혜화별관 H301 영상대학 원장실/영상전문대(원) 학사운영실),NaN,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN,2
278,279,혜화별관,206-305(혜화별관 H302 강의실_스마트),48.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN,2
279,280,혜화별관,206-307(혜화별관 H303 강의실),44.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN,2
280,281,혜화별관,206-309(혜화별관 H304 강의실),39.0,빔프로젝터/음향장비/전자교탁/컴퓨터/전동스크린/,NaN,2

In [34]:
room['floor'].unique()

array(['3', '2', '4', '6', '5', '1'], dtype=object)

In [35]:
room.to_csv('room.csv')

## lecture table

In [3]:
lecture = pd.read_excel('종합강의시간표목록.xlsx')

lecture.head()

C:\Users\HONG SEO I\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,번호,학년/가진급학년,교과과정,교과영역구분,학수강좌번호,교과목명,교원명,수업캠퍼스,요일/시간,강의실,...,혁신교과목구분,원어강의,강평결과,이수구분,강의미리보기,개설대학,개설학과/전공,집중이수학기구분,비고,교과목영문명
0,1,"1,2학년",학문기초,제4영역:자연과학,PRI4001-01,미적분학및연습1,송윤애,서울,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","501-142(학림관 J104 강의실),501-142(학림관 J104 강의실)",...,NaN,NaN,NaN,학기,NaN,이과대학,이과대학 수학과,NaN,"공과대(인문)전용, 기초수학(01분반)강좌와 동시수강",Calculus1
1,2,"1,2학년",학문기초,제4영역:자연과학,PRI4001-02,미적분학및연습1,임영빈,서울,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","407-B105(정보문화관P P202 강의실),407-B105(정보문화관P P202...",...,NaN,NaN,NaN,학기,NaN,이과대학,이과대학 수학과,NaN,NaN,Calculus1
2,3,"1,2학년",학문기초,제4영역:자연과학,PRI4001-03,미적분학및연습1,엄건애,서울,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","102-356(학술/문화관 K356 356 강의실),102-356(학술/문화관 K3...",...,NaN,NaN,NaN,학기,NaN,이과대학,이과대학 수학과,NaN,NaN,Calculus1
3,4,"1,2학년",학문기초,제4영역:자연과학,PRI4001-04,미적분학및연습1,심호진,서울,"월8.5-9.5/16:30-18:00,수6.0-7.0/14:00-15:30","102-352(학술/문화관 K352 352 강의실),102-352(학술/문화관 K3...",...,NaN,NaN,NaN,학기,NaN,이과대학,이과대학 수학과,NaN,NaN,Calculus1
4,5,"1,2학년",학문기초,제4영역:자연과학,PRI4001-05,미적분학및연습1,박장희,서울,"화4.0-5.0/12:00-13:30,목4.0-5.0/12:00-13:30","501-231(학림관 J201 강의실),501-231(학림관 J201 강의실)",...,NaN,NaN,NaN,학기,NaN,이과대학,이과대학 수학과,NaN,NaN,Calculus1

In [4]:
lecture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   번호        2690 non-null   int64
 1   학년/가진급학년  2690 non-null   object
 2   교과과정      2690 non-null   object
 3   교과영역구분    2602 non-null   object
 4   학수강좌번호    2690 non-null   object
 5   교과목명      2690 non-null   object
 6   교원명       2686 non-null   object
 7   수업캠퍼스     2611 non-null   object
 8   요일/시간     2439 non-null   object
 9   강의실       2419 non-null   object
 10  학점        2690 non-null   int64
 11  이론        2683 non-null   float64
 12  실습        2675 non-null   float64
 13  공학설계      436 non-null    float64
 14  강의계획서     2429 non-null   object
 15  교과목해설     2495 non-null   object
 16  강의유형      2505 non-null   object
 17  강의종류      2503 non-null   object
 18  혁신교과목구분   142 non-null    object
 19  원어강의      441 non-null    object
 20  강평결과      0 non-null      float64
 21  이수구분      2690 non-null   object
 22  강의미리보기    0 non-null      float64
 23  개설대학      2615 non-null   object
 24  개설학과/전공   2690 non-null   object
 25  집중이수학기구분  17 non-null     object
 26  비고        1670 non-null   object
 27  교과목영문명    2643 non-null   object
dtypes: float64(5), int64(2), object(21)
memory usage: 588.6+ KB

In [7]:
# 강의명, 교원명, 요일, 시간, 강의실id, 학점
df = lecture[['교과목명', '교원명', '요일/시간', '강의실']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   교과목명    2690 non-null   object
 1   교원명     2686 non-null   object
 2   요일/시간   2439 non-null   object
 3   강의실     2419 non-null   object
dtypes: object(4)
memory usage: 84.2+ KB

In [8]:
df.head()

,교과목명,교원명,요일/시간,강의실
0,미적분학및연습1,송윤애,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","501-142(학림관 J104 강의실),501-142(학림관 J104 강의실)"
1,미적분학및연습1,임영빈,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","407-B105(정보문화관P P202 강의실),407-B105(정보문화관P P202..."
2,미적분학및연습1,엄건애,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","102-356(학술/문화관 K356 356 강의실),102-356(학술/문화관 K3..."
3,미적분학및연습1,심호진,"월8.5-9.5/16:30-18:00,수6.0-7.0/14:00-15:30","102-352(학술/문화관 K352 352 강의실),102-352(학술/문화관 K3..."
4,미적분학및연습1,박장희,"화4.0-5.0/12:00-13:30,목4.0-5.0/12:00-13:30","501-231(학림관 J201 강의실),501-231(학림관 J201 강의실)"

In [46]:
ex = df[:3]
ex

,교과목명,교원명,요일/시간,강의실,학점
0,미적분학및연습1,송윤애,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","501-142(학림관 J104 강의실),501-142(학림관 J104 강의실)",3
1,미적분학및연습1,임영빈,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","407-B105(정보문화관P P202 강의실),407-B105(정보문화관P P202...",3
2,미적분학및연습1,엄건애,"월4.0-5.0/12:00-13:30,수3.0-4.0/11:00-12:30","102-356(학술/문화관 K356 356 강의실),102-356(학술/문화관 K3...",3

In [63]:
result = ex['요일/시간'].str.split(',')
ex['강의실'].str.split(',')
result.str.get(0)
result.apply(lambda x:pd.Series(x))
result

0    월4.0-5.0/12:00-13:30
1    월4.0-5.0/12:00-13:30
2    월4.0-5.0/12:00-13:30
Name: 요일/시간, dtype: object

In [57]:
result.apply(lambda x:pd.Series(x))
result

0    [월4.0-5.0/12:00-13:30, 수3.0-4.0/11:00-12:30]
1    [월4.0-5.0/12:00-13:30, 수3.0-4.0/11:00-12:30]
2    [월4.0-5.0/12:00-13:30, 수3.0-4.0/11:00-12:30]
Name: 요일/시간, dtype: object

AttributeError: 'Series' object has no attribute 'stack'